/{
    aliases{
        led = &status_led;
    };
    
    leds{
        compatible = "gpio-leds";
        status_led:led0{
            label = "Status LED";
            gpios =<&gpio0 2 GPIO_ACTIVE_HIGH>;
        };
    };

};