#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
    aliases {
        led = &status_led;
        commuart = &uart0;
    };

    leds {
        compatible = "gpio-leds";
        
        status_led: led_0 {
            label = "Status led";
            gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
        };
    };

    chosen {
        zephyr,console = &uart0;
    };
};

&uart0 {
    status = "okay";
    current-speed = <115200>;
};